*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(2, 2, 2);
    font-family: Arial, Helvetica, sans-serif;

    list-style: none;

    
}
a{
    text-decoration: none;
}

.navbar{
background-color: white;
height: 60px;
width: 100%;

}
.navdiv{
    display: flex;
    justify-content: space-around;
 align-items: center;
 padding-top: 4px;

}
.navdiv p{
    font-size: 19px;
    color: rgb(2, 2, 2);
    font-weight: 200;
    text-transform: capitalize;
    
}
.navdiv p a:hover{
    color: #4d8563;
}
.logo img{
    height: 60px;
}
.search{
 display: flex; 
 justify-content: center;
align-items: center;


}
.search input{
    height: 2rem;
    width: 14rem;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    border-right: none;
    font-size: 14px;
    font-weight: 200;
    border-color: one;
    text-transform: capitalize;
    text-align: center;
    background-color: white;
    border: 2px solid black;
   

    
}
.icon{
justify-content: center;
border-style: groove;
border: 2px solid rgb(0, 0, 0);
border-left: none;
display: flex;
align-items: center;
height: 2rem;
width: 2rem;
color: rgb(2, 2, 2);

}
.two-icons {
    display: flex;
  column-gap: 3rem;

    
}
.two-icons p{
    font-size: 1.4rem;
    
}
.main{
    display: flex;
    height: 29rem;
   flex-wrap: wrap;  
}
.main-left{
   width: 40%;
   padding-top: 9rem;
   padding-left: 4rem;
   line-height: 3rem;
}
.main-right{
   width: 60%;
   height:30rem;
   
   margin-top: 10px;
  
}
.home-img{
    background-image: url('images/home-img.png');
    height:27rem ;
    background-repeat: no-repeat;
   margin-top: 4rem;
   
  
   
 
}
.heading1{
    color: rgb(34, 129, 93);
    font-size: 3rem;
}
.heading3{
    color: black;
    font-size: 2.3rem;
}
.para1{
    color: rgb(73, 72, 72);
    font-weight: 200;

}
.shop-now{
    background-color: rgb(64, 148, 116);
    width: 7rem;
    height: 2rem;
    font-size: 17px;
    font-weight: 400;
    border-style: none;
    text-transform: capitalize;
    color: white;
}
.popular-categories{
    margin-top: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 20px;
    
   
}
.popular-categories span{
color: #238a4b;

}

.greater-lesser{
    display: flex;
    column-gap: 6px;
}
.greater-lesser p{
    background-color:rgb(150, 204, 150) ;
    height: 1.7rem;
    width: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 0.8rem;
}
.shirts-caps{
   font-size: 14px;
  justify-content: space-around;
    height: 11rem;
    margin-top: 11px;
    display: flex;
    column-gap: 3rem;
    align-items: center;
    font-weight: lighter;
}

 .box{ 
    
    height: 11rem;
    width: 9rem;
    border-style: groove;
    border-radius: 14px;
    border: 1px solid green; 
    
}
.box:hover{
height: 12rem;

}

.logo-shirt{
    background-image: url('images/category-1.jpg');
    background-size: cover;
    height: 6rem;
    width: 7rem;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 8px;
   
    
}

.t-shirt p{
    color: rgb(131, 127, 127);
    height: 3rem;
    text-align: center;
    margin-top: 1rem;
 
}
 .t-shirt p:hover{
font-weight: 100;
color: rgb(46, 151, 87);
font-size: 1.1rem;
}


.bag{
   
    background-image: url('images/category-2.jpg');
}
.sandal{
    background-image: url('images/category-3.jpg');
}
.scarf{
    background-image: url('images/category-4.jpg');
}
.shoes{
    background-image: url('images/category-5.jpg');


}
.three-buttons{

   margin-top: 1rem;
   height: 2.2rem;
   display: flex; 
   align-items: center;
   column-gap: 10px;
   padding-left: 3%;
   font-weight: lighter;
 
  
}
.btn1{
    color: black;
    width: 7rem;
    height: 1.9rem;
    font-size: 14px;
    border-style: none;
    background-color: rgb(196, 192, 189);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.btn2{
    color: black;
    width: 7rem;
    height: 1.9rem;
    font-size: 14px;
    border-style: none;
    display: flex;
    background-color: rgb(196, 192, 189);
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.btn1:hover{
    background-color: rgb(192, 172, 135);
    color: rgb(30, 85, 59);
}
.btn2:hover{
    background-color: rgb(192, 172, 135);
    color: rgb(30, 85, 59);
}

.item1{
   
    border-style: groove;
    height: 16rem;
    width: 12rem;
    border: 1.5px solid rgb(83, 156, 83);
    border-radius: 18px;
}
.cart-bag{
    border-radius: 55px;
    width: 1.5rem;
    height: 1.4rem;
    background-color: rgb(126, 202, 126);
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(99, 175, 92);

   
    
  }
  .rate{
    
    display: flex;
    align-items: center;
   justify-content: space-between;
   
  }
strike{
    color: rgb(3, 1, 1);
}


.content1 p{
    color: black;
   
}
.four-items{
    justify-content: space-around;
    position: relative;
    display: flex;
    background-color: white;
    margin-top: 10px;
    

 

}
.logo1-1 img{
   background-size: cover;
   height: 10rem;
   width: 11rem;
   background-color: #ccc9c9;
   background-repeat: no-repeat;
   opacity: 1;
   border-radius: 15px;
   position: absolute;
   margin-left: 6px;
   transition-duration: 1s;
 

}
.logo2-shirt{
    background-image: url('images/product-1-2-removebg-preview.png');
    background-size: cover;
    height: 10rem;
    width: 10rem;
    border-radius: 8px;
    opacity: 0;

   
}
.logo2-shirt:hover{
  opacity: 1; 
  
  
}
.item1{
   padding-top: 10px;
}
.logo1-2 img{
   background-size: cover;
   height: 10rem;
   width: 11rem;
   background-color: #ccc9c9;
   background-repeat: no-repeat;
   border-radius: 15px;
   margin-left: 6px;
  
 

}
.logo1-1 img:hover{
  opacity: 0; 
 
}
.img-content{
   margin-left: 10px;
   line-height: 1rem;
}
.img-content h4{
  font-size: 12px;
  text-transform: capitalize;
}
#price{
    color: rgb(71, 184, 122);
    font-size: 12px;
}
.two-catego{

    height: 19rem;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    line-height: 1.4rem;
 

}
.deal-day{
    margin-top: 10px;
    background-size: cover;
    height: 18rem; 
    background-repeat: no-repeat;
    border-radius: 1rem;
    border-style: groove;
    height: 18rem;
    width: 40%;  
    background-image: url('images/deals-1.jpg');

}
.women-cloth{
    margin-top: 10px;
    border-style: groove;
    height: 18rem;
    width: 40%;  
    background-image: url('images/deals-2.png');
    background-size: cover;
    height: 18rem; 
    background-repeat: no-repeat;
    border-radius: 1rem;
    border-color: 1px  #238a4b;
}
.deal-day{
    padding-top: 30px;
    padding-left: 30px;
}
.deals{
    font-size: 17px;
    text-transform: capitalize;
    color: rgb(5, 95, 43);
}
.limit{
    font-size: 14px;
    color: rgb(107, 105, 105);

}
.head6{
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
}
.number1{
    color: #912222;
    font-weight: 600;
}
.hurry{
    font-size: 14px;
    color: rgb(107, 105, 105);
    text-transform: capitalize;
}
.time{
    display: flex;
}
.number{
   background-color: #06502b;
   margin: 5px;
   color: white;
   text-align: center;
   font-weight: bolder;
   padding: 4px;
   border-radius: 4px;
}
.day{
    font-size: 15px;
    color: rgb(121, 114, 114);
    margin: 5px;
    text-transform: capitalize;
}
.women-cloth{
    padding-top: 30px;
    padding-left: 30px; 
}
.small-images{
   display: flex;
   margin-left: 6rem;
   margin-top: 10px; 
}
.content2{
    padding-left: 8px;
}
.logo-bag{
    height: 4rem;
    width: 5rem;
    background-color: #c5c5c5;
}
.logo-bag img{
width: 4rem;
}
.small{
    align-items: center;
    font-size: 13px;
    font-weight: lighter;
    text-transform: capitalize;
    display: flex;
    width: 100%;
    height: 100%;
    line-height: 1.3rem;
    background-color: white;
    
}
#price{
    font-weight: 600;
}
.sign-bar{
    height: 4rem;
    background-color: rgb(106, 143, 106);
    margin-top: 10px;
}
.sign-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons{
    display: flex;
    align-items: center;
}
.message-icon{
    font-size: 1.6rem;
    margin-right: 4px;
}
.subscribe{
    width: 6rem;
    height: 2rem;
    border-radius: 3px;
    border-style: none;
    background-color: black;
    color: white;
    font-weight: 500;
}
.email{
    width: 14rem;
   height: 2rem;
   border-radius: 3px;
   border-style: none;
   margin-right: 4px;
}
.last-navbar{
    height: 14rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.char{
    display: flex;
    align-items: center;
}
.letter{
    width: 1rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    font-weight: lighter;
    margin-right: 5px;
    border: 1px solid black;
}
.logoarch img{
  height: 4rem; 
 
}
.bold{
    font-size: 20px;
    font-weight: bolder;
}
.secure{
    position: relative;
    
}
li{
    list-style: none;
    font-weight: lighter;
    font-size: 14px;
    line-height: 1.3rem;
}


.all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    height: 2rem;
    width: 85%;
    position: relative;
    margin-bottom: 4rem;
    margin-left: 5rem;
    padding-top: 2rem;
    font-weight: lighter;
    font-size: 14px;
}
.payments{
    margin-bottom: 6rem;
    padding-top: 16px;
    
}


    



    









