*{
    color: rgb(36, 35, 35);
    font-weight: lighter;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    
}
.navbar{
    background-color: white;
    height: 60px;
    width: 100%;
 
 
    
  
  
  }
  .navdiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4px;
  
  }
.navdiv p{
 
  color: black;
  font-size: 20px;
  text-transform: capitalize;

}
a{
  color: black;
}
a:hover{
  color: #4d8563;
}
.navdiv p:hover{
    color: #4d8563;
  }


.logo img{
    height: 60px;
  }
  .search{
   display: flex; 
   justify-content: center;
   align-items: center;
  
}
.search input{
  height: 1.8rem;
  width: 14rem;
  color: rgb(0, 0, 0);
  margin-left: 10px;
  border-right: none;
  font-size: 14px;
  font-weight: 200;
  border-color: one;
  text-transform: capitalize;
  text-align: center;
  background-color: white;
  border: 2px solid black;
 

  
}
.icon{
justify-content: center;
border-style: groove;
border: 2px solid rgb(0, 0, 0);
border-left: none;
display: flex;
align-items: center;
height: 1.8rem;
width: 2rem;
color: rgb(2, 2, 2);

}
  .two-icons {
    display: flex;
    column-gap: 3rem;       
  }
.two-icons p{
    font-size: 1.4rem;
          
}
.list{
    height: 4rem;
    display: flex;
    column-gap: 3px;
    background-color: rgb(199, 196, 196);
    align-items: center;
    font-size: 15px;
    text-transform: capitalize;
    padding-left: 30px;
    font-weight: lighter;
    
 }
table{
    margin-top: 2.4rem;
   margin-left: 23%;
  
  
  
  
  }
td{
    text-transform: capitalize;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
}
button{
    background-color: #06402b;
    color: white;
    font-weight: bolder;
   padding: 3px;
    border-style: none;
    text-transform: capitalize;
    padding: 4px;

}
.out{
    color: #107550;
}
.last-navbar{
    height: 14rem;
   
    display: flex;
  justify-content: space-around;
    align-items: center;
}
.char{
    display: flex;
    align-items: center;
}
.letter{
    width: 1rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
background-color: aliceblue;
font-weight: lighter;

margin-right: 5px;
  border: 1px solid black;
}
.logoarch img{
  height: 4rem; 
 
}
.bold{
    font-size: 20px;
    font-weight: bolder;
}
.secure{
    position: relative;
    
}
li{
    list-style: none;
  font-weight: lighter;
    font-size: 14px;
    line-height: 1.3rem;
    color: black;
}


.all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    height: 2rem;
    width: 85%;
    position: relative;
    margin-bottom: 4rem;
    margin-left: 5rem;
    padding-top: 2rem;
    font-weight: lighter;
    font-size: 14px;
}
.payments{
    margin-bottom: 6rem;
    padding-top: 16px;
    
}
.sign-bar{
    height: 4rem;
    background-color: rgb(106, 143, 106);
    margin-top: 10px;
}
.sign-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons{
    display: flex;
    align-items: center;
}
.message-icon{
    font-size: 1.6rem;
    margin-right: 4px;
}
.subscribe{
    width: 6rem;
    height: 2rem;
    border-radius: 3px;
    border-style: none;
    background-color: black;
   
    font-weight: 500;
}
.email{
    width: 14rem;
   height: 2rem;
   border-radius: 3px;
   border-style: none;
   margin-right: 4px;
}
.para2{
  color: black; 
  font-size: 1.2rem; 
  font-weight: bolder;
}
.bold{
  font-weight: 700;
  font-size: 1.4rem;
}
